/* Общие стили для приложения */
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.light-mode {
    background-color: #f0f2f5;
    color: #333;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

/* Боковая панель */
.sidebar {
    flex-shrink: 0;
    width: var(--sidebar-width, 300px); /* Используем переменную ширины */
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
