



.sidebar {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

h3 {
    margin: 10px 0;
}

.user-list {
    padding-left: 20px; /* Отступ для вложенного списка */
}
